<!doctype html>
<html lang="pt-br">
<head>
	
	<title>Meu Repertorio - dashboard</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<link rel="shortcut icon" href="images/favicon.ico">
	

</head>
<body>
	<div class="mask"></div>
	<div class="grid-container grid bg-lw">
		<div class="brand grid desactive-menu bg-dg">
			<buttom class="btn-brand bg-lw"></buttom>
		</div>
		<div class="navbar grid bg-lw box-sw">
			<i class="trigger icon-menu icon-nav"></i>
			<buttom class="search-trigger icon-magnifier icon-nav"></buttom>
			<form action="#" method="get" id="search" class="search-off grid">
				<input type="text" value="" name="inputSearchName" placeholder="Digite Sua Pesquisa">
				<button type="submit" id="btnSearchSubmit" class="submit-search icon-magnifier" name="btnSearchSubmitName"></button>
				<div class="close-search icon-close"></div>
			</form>
			<a href="/logout" id="logout"><i class="icon-logout icon-nav"></i></a>
		</div>
		<div class="sidenav grid desactive-menu bg-dg">
			<a href="/dashboard"><i class="icon-home"></i></a>
			<a href="#/musicas" class="music"><i class="icon-music-tone"></i></a>
			<a href="#/repertorios" class="repertory"><i class="icon-music-tone-alt"></i></a>
			<a href="#/bandas" class="band"><i class="icon-people"></i></a>
			<a href="#/perfil" class="profile"><i class="icon-user"></i></a>
		</div>
		<div class="content grid bg-lw" id="content">
			<!-- <h4 class="welcome">Bem vindo de volta <%=req.req.session.usuario%> !</h4>

			<div class="homecontent grid">
				<div class="card-h">
					<a href="#/musicas" class="card-item music"><i class="icon-music-tone"></i><br>Músicas</a>
				</div>
				<div class="card-h">
					<a href="#/musicas" class="card-item music"><i class="icon-music-tone-alt"></i><br>Repertórios</a>
				</div>
				<div class="card-h">
					<a href="#/musicas" class="card-item music"><i class="icon-people"><br></i>Bandas</a>
				</div>
			</div>
		</div> -->
		
	</div>

	<!-- CSS Files -->
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/media.css">
	<link rel="stylesheet" type="text/css" href="css/animation.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">


	<!-- JS Files -->
	<script src="js/jquery-3.3.1.slim.min.js" ></script>
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/functions.js"></script>
</body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</html>