@keyframes open-menu {
	from {margin-left: -100vw;}
	to {margin-left: 0;}
}

@keyframes close-menu {
	from { position:fixed; width: 50vw; visibility: visible; margin-left: 0vw;  }
	to {position:fixed; width: 0vw; visibility: hidden; margin-left: -100vw;}
}

@keyframes drop {
	from {top: -100vh;  }
	to {top: -20px;}
}
@keyframes catch {
	from { top: -20vh;  }
	to  {top: -100vh;}
}

@media (max-width: 991.98px) { 
	@keyframes drop {
	from {top: -100vh;  }
	to {top: 0px;}
}
}