@keyframes open-menu {
	from {margin-left: -100vw;}
	to {margin-left: 0;}
}

@keyframes close-menu {
	from { visibility: visible; margin-left: 0vw;  }
	to {visibility: hidden; margin-left: -100vw;}
}
