@keyframes searchOpen {
	from {width: 0px; opacity:0; visibility: hidden; height: 0;}
	to {width: 100%; opacity:1; visibility: visible;  height: 80px;}
}
@keyframes hide {
	from {width: 100%; opacity:1; visibility: visible; height: 80px;}
	to { opacity:0; visibility: hidden; width: 0px;  height: 0;}

}

