@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,400');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400');

.bg-dg{background-color: #1c1c1c!important;}
.bg-lw{background-color: #f5f5f5!important;}
.bg-elw{background-color: #fafafa!important;}
.d-grid{display: grid!important;}

.box-sw{box-shadow: 0 2px 4px 0 rgba(0,0,0,.05), 0 4px 8px 0 rgba(0,0,0,.05)!important;}
.grid{display: grid;}

.grid-container{
	grid-template:
	"brand navbar navbar" 70px
	"sidenav content content"
	"sidenav content content" / 90px 1fr;
	width:100%;
	height: 100%; 
	position: absolute;
	left: 0;
	top:0;
}

.brand{	grid-area: brand;}

.btn-brand{
	height: 60px;
	width: 60px;
	background-image: url(../img/brand.png);
	background-size: contain;
	background-position-x: center;
	border-radius: 5px;
	margin-left: 15px;
	margin-top: 5px;
}
.navbar{
	grid-area: navbar;
	z-index: 1;
	grid-template-columns: 60px 60px 60px;
	grid-template-rows: 70px;
	display: inline-grid;
	align-items: center;
	justify-content: space-between;
}
.trigger{display: none; font-size: 35px;}

.trigger, 
.search-trigger, 
.submit-search,
.close-search,
.icon-nav{cursor:pointer; justify-self:center;}

.search{
	position: absolute!important;
	visibility: visible!important;
	opacity: 1!important;
	height: 70px;
	width: calc(100vw - 105px);
	left: 90px;
	top: 0;
	grid-template-columns: minmax(200px, 1fr) 60px 60px;
	background: #ffffff;
	animation: drop .5s;
}
.search-off{position: relative; top: -100vh; animation: catch .5s;}

.search > input{
	font-family: 'Raleway', sans-serif; 
	font-weight: 100; 
	vertical-align: baseline;
	color: #1c1c1c;
	font-size:2.5rem; 
	border: none;
}
.search > input::placeholder{color: #999999;}

.icon-nav{padding-top: 7px;}

.submit-search{border: none; background: inherit; font-size: 17px;}

.close-search {
	font-size: 20px;
	padding-top: 23px;
	padding-left: 10px;
	color: #006fc4;
}
.sidenav{ grid-area: sidenav; padding-top: 90px; font-family: 'Raleway', sans-serif;}

.sidenav.grid{ 
	grid-template-columns: repeat(auto-fit, 100%);
	grid-auto-rows: 60px; width: 100%;
	height: 100%; 
	justify-content: center; 
	grid-gap: 20px; 
	align-items: center;
}

.sidenav a{
	font-size: 15px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	font-weight: 400;
	padding: 20px 0px;
	transition: all 0.5s!important;
}
.sidenav a i {
	position: relative;
	top: -5px;
	left: 0px;
	right: 0;
	display: flex;
	flex-direction: column;
}

.sidenav a:nth-child(1):after{content: 'Home';}
.sidenav a:nth-child(2):after{content: 'Musicas';}
.sidenav a:nth-child(3):after{content: 'Repertórios';}
.sidenav a:nth-child(4):after{content: 'Bandas';}
.sidenav a:nth-child(5):after{content: 'Meu Perfil';}

.sidenav a:hover{
	background: #48AEFF;
	color:#1c1c1c;
	margin-left: 10px;
	transition: all 0.5s!important;
}
.content {
	grid-template-columns: repeat(auto-fit, 100%);
	grid-auto-rows: 50px;
	margin-top: 30px;
	width: 100%;
	height: 100%;
	justify-content: center;
	grid-gap: 15px;
}
.content-box{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	display: inline-grid;
	padding-left: 10px;
	text-decoration: none;
	background: #D2D2D2;
	align-items: center;
	grid-template-columns: 75% 15% 4%;
	color: #5f5f5f;
}
.content-box i,
.content-box h3,
.content-box h5,
.content-box h6{
	margin: 0!important;
	padding: 0!important;
}
.content-box i{
	text-shadow: none;
}
.content-box h3{
	font-weight: 200;
	line-height: 1.2;
	text-transform: capitalize;
}
